<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css" media="all" />
	

</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<span class="icon icon-cog"></span>
				<h1><a href="#">Machine learning Application in Banking</a></h1>
				<h2><a href="#">Anindya Chakrabarty</a></h2>
			</div>
			<div id="logo">
				<h2>
					<a href="#">

						{% for e in prediction_text : %}
						<br>
						{{e}}
						<br>
						{% endfor %}

					</a>
				</h2>
			</div>
			

		</div>                   
	</div>
	
	

</body>
</html>
